/**
======== RESET ========
**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background: linear-gradient(to bottom, #8f4ae7, #04080c);
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-right: 65px;
}

a {
    color: white;
    text-decoration: none;
}


/**
======== HEADER ========
**/
header {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;
}
.logo img {
    height: 100px;
    width: 200px;
}
.pesquisa{
    position: relative;
}
.pesquisa i {
    position: absolute;
    left: 40px;
    top: 19px;
    font-size: 32px;
}
.buscar {
    background-color: rgba(7, 6, 6, 0.44);
    width: 1300px;
    height: 70px;
    border-radius: 100px;
    padding-left: 180px;
    border-color: rgba(7, 6, 6, 0.44);
    font-family: "Open Sans", sans-serif;
    font-size: large;
}


.sair {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    gap: 10px;
}

.sair i {
    font-size: 32px;
}

/**
======== MAIN ========
**/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
    padding: 0 65px;
    margin-top: 32px;

}

.music-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.player {
    height: 800px;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    background: rgba(7, 6, 6, 0.44);
}
.hotspot{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    align-items: center;
    justify-content: center;
}
.hotspot_infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 22px 22px;
    width: 400px;
    height: 400px;
    border-radius: 24px;
    background: rgba(7, 6, 6, 0.44);
    border-radius: 22px;
    gap: 12px;
}
.hotspot_infos .nome {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 6px;

}
.hotspot_infos img {
    width: 200px;
    border-radius: 12px;

}

/**
======== FOOTER ========
**/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}